:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --background-color: #242424;
  --background-color-layer:  #161717;

  --background-color-2: #46648c;
  --blue-color-1: #146ca4;
  --blue-color-2: #52b7e9;
  --blue-color-3: #189de4;
  --red-color-1: #ff0000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--background-color);
  height: 100vh;
  overflow: hidden; 
}
